.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
complex_venv/
__pycache__
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
.github

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover